@media  screen and (max-width: 1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers{
        flex-wrap: wrap;
    }
}

@media  screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    #skills,
    .skills-details,container{
        margin-top: 2rem;
    }

    #profile,
    .section-container{
        display: block;
    }

    .arrow{
        display: none;
    }

    
    section{
        height: fit-content;
    }

    .section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }

    .profile-pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    section{
        margin: 0 2.5rem;
        padding: 3vh 0 5vh;
    }

    #profile {
        gap: 3rem;
    }

    .article-container {
        justify-content: flex-start;
        gap: 1rem;
    }

    article {
        width: 11rem;
    }

    .skills-details-container .about-containers {
        gap: 1.25rem;
    }
}

@media  screen and (max-width: 600px) {
    #contact, 
    footer{
        height: 40vh;
    }

    #profile{
        height: 83vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, 
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .skills-sub-title{
        font-size: 1.25rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section-pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section-text-p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: justify;
    }

    section{
        margin: 0 1.5rem;
        padding: 3vh 0 4vh;
        min-height: auto;
    }

    article{
        width: 100%;
        justify-content: flex-start;
    }

    .article-container{
        gap: 1rem;
        justify-content: flex-start;
    }

    .btn-container{
        justify-content: center;
    }

    #projects .details-container{
        margin: 0 auto;
        width: 100%;
    }
}